aiofiles
aiogram
aiohappyeyeballs
aiosignal
annotated-types
anyio
asyncio
attrs
beautifulsoup4
bs4
certifi
cffi
cryptography
dotenv
frozenlist
h11
httpcore
idna
magic-filter
multidict
propcache
pycparser
pydantic
pydantic_core
python-dotenv
soupsieve
typing-inspection
typing_extensions
yarl
tortoise-orm
lxml
httpx
httpx[http2]